.hero {
    display: flex;
    flex-direction: column;
    gap: calc(32rem / 16);
    justify-content: center;
    align-items: center;
    background-color: var(--clr-primary-1);
    padding: 16px;
    border-radius: 8px;
    width: 100%;
}

.hero__content {
    display: flex;
    flex-direction: column;
    gap: calc(32rem / 16);
    justify-content: center;
    align-items: center;
}

.hero__header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: calc(5rem / 16);
}

.hero__header_title {
    font-size: calc(22rem / 16);
    color: var(--clr-primary-2);
    font-family: "Markazi Text";
}

.hero__header_body {
    color: var(--clr-secondary-3);
}

.hero__body {
    text-align: center;
    color: var(--clr-secondary-3);
}

.hero__image__wrapper {
    display: flex;
    justify-content: center;
    overflow: hidden;
    width: 100%;
    height: 250px;
    border-radius: 8px;
}

.hero__image {
    max-width: 350px;
    width: 100%;
    height: auto;
    min-height: 100%;
    object-fit: cover;
    border-radius: 8px;
}

.hero__button {
    margin: 0 auto;
}

@media (min-width: calc(1440rem / 16)) {
    .hero {
        flex-direction: row;
    }

    .hero__image__wrapper {
        width: 25%;
    }
}
