.card {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: var(--clr-primary-1);
    padding: 16px;
    gap: calc(16rem/16);
    border-radius: 8px;
    justify-content: center;
    align-items: center;
}

.card__header {
    display: flex;
    flex-direction: row;
    gap: 8px;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.card__header__image {
    max-width: 50px;
    border-radius: 8px;
}
.card__header_content {
    display: flex;
    flex-direction: column;
    gap: 8px;

}
.card__header__name {
    color: var(--clr-secondary-3);
    font-size: calc(16rem/16);
    font-weight: bold;
}
.card__header__stars {
    display: flex;
    flex-direction: row;
    gap: 8px;
}
.card__good_stars {
    width: 16px;
    fill: var(--clr-primary-2);
}
.card__good_no_stars {
    width: 16px;
    fill: var(--clr-secondary-5);
}
.card__body {
    color: var(--clr-secondary-3);
    font-weight: lighter;
}


