.testimonials {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 16px;
    gap: calc(16rem / 16);
}

.testimonials__line {
    width: 100%;
    border-top: 1px solid var(--clr-primary-1);
    opacity: 50%;
    color: transparent;
}

.testimonials__header__text {
    font-size: calc(22rem / 16);
}

.testimonials__cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: calc(16rem / 16);
}

@media (min-width: calc(1440rem / 16)) {
    .testimonials__header__text {
        font-size: calc(32rem / 16);
    }
}