.menu {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
}

.menu_icon {
    max-width: calc(24rem/16)
}

.menu_open {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--clr-secondary-3);
    align-items: flex-start;
    justify-content: center;
    padding: 20px;

}
.menu_list {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: calc(10rem/16);
}

.menu_list > li > a {
    color: var(--clr-secondary-4);
    text-decoration: none;
    font-weight: bold;
    font-size: calc(36rem/16);
}

.menu_list > li > a:hover {
    background-color: var(--clr-secondary-2)
}

@media  (min-width: calc(1440rem / 16)) {
    .menu {
        display: none;}
}