.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    background-color: var(--clr-primary-1);
    padding: 16px;
    border-radius: 8px;
    gap: 16px
}

.footer_navigation {
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.footer__header {
    color: var(--clr-secondary-3);
    font-size: calc(22rem/16);

}
.footer__links {
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.footer__links_3 {
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.footer__link {}

.footer__link  {
    color: var(--clr-secondary-3);
    text-decoration: none;
    font-weight: lighter;
}

.footer__link:hover {
    background-color: var(--clr-secondary-5);
}

.footer_contact {
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.footer__body {
    color: var(--clr-secondary-3);
    font-weight: lighter;
    gap: calc(8rem/16)
}

.footer__mail:hover {
    background-color: var(--clr-secondary-5);
}

@media  (min-width: calc(1440rem / 16)) {
    .footer {
        padding: 16px 48px
    }
    .footer__links {
        flex-direction: row;
    gap: 48px}
}